In [1]:
import pandas as pd
data_path = '../extracted_data/data.csv'
df = pd.read_csv(data_path)

In [2]:
df.head()

,propertyType,rooms,size,buildYear,cluster_100m,adj_price,cluster_1000m,avg_adjusted_sqm_price_100m,avg_adjusted_sqm_price_1000m
0,3,3.0,97,2017,0,4544994,0,46855,47731
1,3,4.0,83,1905,1,4095045,0,49337,44189
2,3,2.0,63,1930,1,2982810,0,47345,44189
3,3,4.0,124,1901,1,2831142,0,22831,44189
4,3,4.0,132,1969,2,5864509,0,44427,37211

In [4]:
#make avg_adjusted_sqm_price_100m and avg_adjusted_sqm_price_1000m integers
df['avg_adjusted_sqm_price_100m'] = df['avg_adjusted_sqm_price_100m'].astype(int)
df['avg_adjusted_sqm_price_1000m'] = df['avg_adjusted_sqm_price_1000m'].astype(int)

In [6]:
#make adj_price integer
df['adj_price'] = df['adj_price'].astype(int)

In [8]:
#save to csv
df.to_csv(data_path, index=False)

In [1]:
import numpy as np
log1 = np.log(118)
log2 = np.log(47731)
log3 = np.log(42767)
print(log1, log2, log3)

4.770684624465665 10.773336360964212 10.663522056137511

In [2]:
import numpy as np
log4 = np.log(55)
log5 = np.log(120)
log6 = np.log(37000)
log7 = np.log(45000)
log8 = np.log(35000)
log9 = np.log(40000)
print(log4, log5, log6, log7, log8, log9)

4.007333185232471 4.787491742782046 10.51867319162636 10.714417768752456 10.46310334047155 10.596634733096073